body {
    background-color: #555555;
    padding: 2rem;
}

.backgroundWhite {
    background-color: #fff;
    max-width: 120rem;
    margin: auto;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 16px;
}

.admin-menu {
    margin-bottom: 20px;
}

.panel {
    margin: 1em;
}

.panel-title {
    font-size: 1.5em;
}

.label-success {
    background-color: #5cb85c;
}

.label-danger {
    background-color: #d9534f;
}

.alert-danger {
    text-align: center;
}

#errorMessages {
    border-radius: 24px;
}

.success-text {
    background-color: #5cb85c;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    border: none;
    border-radius: 24px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 24px;
    text-align: center;
}