body{
    background-color: #555555;
    padding:2rem;
}
.backgroundWhite{
    background-color: #fff;
    max-width: 120rem;
    margin:auto;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 16px;
}

.admin-menu {
    margin-bottom: 20px;
}

.panel {
    margin: 1em;
}

.panel-title {
    font-size: 1.5em;
}

.label-success {
    background-color: #5cb85c;
}

.label-danger {
    background-color: #d9534f;
}

